In [2]:
print('Hello, World')

Hello, World

In [6]:
pip install numpy

Requirement already satisfied: numpy in c:\users\serej\appdata\local\programs\python\python313\lib\site-packages (2.2.1)Note: you may need to restart the kernel to use updated packages.

In [3]:
import numpy as np

In [4]:
new_arr = np.array([1,2,3,4,])

In [5]:
print(new_arr)

[1 2 3 4]

In [7]:
pip install pandas

Collecting pandas
  Downloading pandas-2.2.3-cp313-cp313-win_amd64.whl.metadata (19 kB)
Requirement already satisfied: numpy>=1.26.0 in c:\users\serej\appdata\local\programs\python\python313\lib\site-packages (from pandas) (2.2.1)
Requirement already satisfied: python-dateutil>=2.8.2 in c:\users\serej\appdata\local\programs\python\python313\lib\site-packages (from pandas) (2.9.0.post0)
Collecting pytz>=2020.1 (from pandas)
  Downloading pytz-2024.2-py2.py3-none-any.whl.metadata (22 kB)
Collecting tzdata>=2022.7 (from pandas)
  Downloading tzdata-2024.2-py2.py3-none-any.whl.metadata (1.4 kB)
Requirement already satisfied: six>=1.5 in c:\users\serej\appdata\local\programs\python\python313\lib\site-packages (from python-dateutil>=2.8.2->pandas) (1.17.0)
Downloading pandas-2.2.3-cp313-cp313-win_amd64.whl (11.5 MB)
   ---------------------------------------- 0.0/11.5 MB ? eta -:--:--
   --------------- ------------------------ 4.5/11.5 MB 32.2 MB/s eta 0:00:01
   ---------------------------------------  11.3/11.5 MB 34.0 MB/s eta 0:00:01
   ---------------------------------------- 11.5/11.5 MB 27.7 MB/s eta 0:00:00
Downloading pytz-2024.2-py2.py3-none-any.whl (508 kB)
Downloading tzdata-2024.2-py2.py3-none-any.whl (346 kB)
Installing collected packages: pytz, tzdata, pandas
Successfully installed pandas-2.2.3 pytz-2024.2 tzdata-2024.2
Note: you may need to restart the kernel to use updated packages.

In [9]:
import pandas as pd

In [11]:
data = {
    'Age':[12,34,56,78,54],
    'Name':['Nick','Jane','Alex','Kostya','Kirill'],
    'Reputation':[9,2,3,8,6],
    'Count comment':[65,122,234,22,34],
}
df = pd.DataFrame(data)
df

   Age    Name  Reputation  Count comment
0   12    Nick           9             65
1   34    Jane           2            122
2   56    Alex           3            234
3   78  Kostya           8             22
4   54  Kirill           6             34

In [18]:
df.head(2)

   Age  Name  Reputation  Count comment
0   12  Nick           9             65
1   34  Jane           2            122